<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS OBJECTS</title>
</head>

<style>

    body{
        font-family: sans-serif;
        background-color: rgb(26, 17, 66);
        color: cornsilk;
        padding-left: 40px;
    }

    pre{
        background-color:rgb(215, 230, 250);
        color:rgba(0, 0, 0, 0.521);
        display: none;
        padding-right: 40px;
        margin-left: 40px;
    }

    p{
        user-select: none; 
        padding-left: 20px; 
    }

    a{
        text-decoration: none;
    }

    .display{
        display: inline-block;
    }

</style>
<script>
    function toggle(){
        document.querySelector("#pre").classList.toggle("display");
        document.querySelector("#pre2").classList.toggle("display");
    }
    
    function toggle2(){
        document.querySelector("#pre3").classList.toggle("display");
        document.querySelector("#pre4").classList.toggle("display");
    }
    
    function toggle3(){
        document.querySelector("#pre5").classList.toggle("display");
        document.querySelector("#pre6").classList.toggle("display");
    }
    
       
    function toggle4(){
        document.querySelector("#pre7").classList.toggle("display");
        document.querySelector("#pre7a").classList.toggle("display");
    }

    function toggle5(){
        document.querySelector("#pre8").classList.toggle("display");
    }

    function toggle6(){
        document.querySelector("#pre9").classList.toggle("display");
        document.querySelector("#pre9a").classList.toggle("display");
    }

    function toggle6a(){
        document.querySelector("#pre9b").classList.toggle("display");
        document.querySelector("#pre9c").classList.toggle("display");
    }

    function toggle7(){
        document.querySelector("#pre10").classList.toggle("display");
        document.querySelector("#pre10a").classList.toggle("display");
        document.querySelector("#pre10b").classList.toggle("display");
        document.querySelector("#pre10c").classList.toggle("display");
    }

    function toggle8(){
        document.querySelector("#pre11").classList.toggle("display");
        document.querySelector("#pre11a").classList.toggle("display");
        document.querySelector("#pre11b").classList.toggle("display");
    }

    function toggle9(){
        document.querySelector("#pre12").classList.toggle("display");
        document.querySelector("#pre12a").classList.toggle("display");
    }

    function toggle11(){
        document.querySelector("#pre14").classList.toggle("display");
        document.querySelector("#pre14a").classList.toggle("display");
        document.querySelector("#pre14b").classList.toggle("display");
    }

</script>
<body>

    <h1>OBJECTS</h1>

    <div>  <!-- create a new object, make a copy of an object -->
    <p onclick="toggle()">create a new object, make a copy of an object</p>

        <pre id="pre">

            Object.create()

            Creates a new object with the specified prototype object and properties.

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              const obj2 = Object.create(obj);
              console.log(obj2);
              
              Output
              Object {
                a: 1,
                b: 2,
                c: 3
              }
        </pre>
        <pre id="pre2">
          
            make a copy of an object

            Object.assign()

            Copies the values of all enumerable own properties from one or more
            source to a target object. It will return the target object. 
            Though not technically a built in object method, 
            it's more common when using ES6 to make use of the Spread Operator
            by using ...

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              const copy = Object.assign({}, obj);
              console.log(copy);
              
              Output
              Object{
                a:1,
                b:2,
                c:3
              }
        </pre>
    </div>  

    <br>

    <div>  <!-- create properties, a new property or modify an existing one -->
        <p onclick="toggle2()">create properties, a new property or modify an existing one</p>

        <pre id="pre3">

            Object.defineProperty()

        Adds the named property described by a given descriptor to an object.
        Important note for beginners! It's more common to use dot or square bracket
        notation to create a new property or modify an existing one. Like this: obj.a = 1 or obj[a] = 1. 
        This isn't technically a built-in method, that's why it's not included.

        let obj = {
            a: 1,
            b: 2,
            c: 3
          };
          
          Object.defineProperty(obj, 'd', {
            enumerable: true,
            configurable: true,
            writable: true,
            value: 4
          });
          
          console.log(obj.d);
          
          Output
          4
        </pre>
        <pre id="pre4">
          
            one or more properties or modify existing properties

            Object.defineProperties()

           Adds one or more properties described by a given descriptor to an object.

           Important note for beginners! It's more common to use dot or square bracket 
           notation to create a new property or modify an existing one. 
           Like this: obj.a = 1 or obj[a] = 1. 
           This isn't technically a built-in method, that's why it's not included.

           let obj = {
            a: 1,
            b: 2,
            c: 3
          };
          
          Object.defineProperties(obj, {
            d: {
              value: 4,
              writable: true
            },
            e: {
              value: 5,
              writable: true
            }
          });
          
          console.log(obj);
          
          Output
          {a: 1, b: 2, c: 3, d: 4, e: 5}
         </pre>    
    </div>  

    <br>

    <div>  <!-- get information about an object, determine if more properties can be added   -->
        <p onclick="toggle3()">get information about an object, determine if more properties can be added  </p>

        <pre id="pre5">

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              console.log(Object.isExtensible(obj));
              Object.freeze(obj);
              console.log(Object.isExtensible(obj));
              
              Output
              true
              false
        </pre>
        <pre id="pre6">
            if two references point to the same object

            Object.is()

            Compares if two references point to the same object. Equates 
            all NaN values (which differs from both Abstract Equality Comparison
            and Strict Equality Comparison). This one is a little weird, 
            and the MDN docs are a bit misleading. 
            It's more useful to use triple equals === to check equality

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              let obj2 = {
                a: 1,
                b: 2,
                c: 3
              };
              
              console.log(Object.is(obj, obj2));
              console.log(Object.is(obj, obj));
              
              Output
              false
              true
         </pre>    
    </div> 
    <div>  <!-- get information about an object, if an object and its properties cant be modified -->
        <p onclick="toggle4()">get information about an object, if an object and its properties cant be modified</p>

        <pre id="pre7">

            Object.isFrozen()
            
            Determines if an object is frozen.

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              console.log(Object.isFrozen(obj));
              Object.freeze(obj);
              console.log(Object.isFrozen(obj));
              
              Output
              false
              true
        </pre>
        <pre id="pre7a">
            
            if an object cant be modified (its propereties can be, though)

            Object.isSealed()

            Determines if the descriptor of its properties 
            can't be changed and new properties can't be created.

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              Object.seal(obj);
              
              console.log(Object.isSealed(obj));
              
              Output
              true
        </pre>
       
    </div>  
    <div> <!--  get information about an object, determine if an object is in the prototype chain -->
       <p onclick="toggle5()">get information about an object, determine if an object is in the prototype chain</p>
       <pre id="pre8">

        Object.isPrototypeOf()

        Returns a boolean indicating whether the object this method is
        called upon is in the prototype chain of the specified object.

        function Rect() {}

        let rect = new Rect();

        console.log(Rect.prototype.isPrototypeOf(rect));

        Output
        true
       </pre>
    </div>

    <br>

    <div> <!-- get information about properties, details about the properties -->
        <p onclick="toggle6()">get information about properties, details about the properties</p>
        <pre id="pre9">
 
            Object.getOwnPropertyDescriptor()

            Returns a property descriptor for a named property on an object.

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              const o = Object.getOwnPropertyDescriptor(obj, 'a');
              
              console.log(o);
              
              Output
              Object {
                configurable: true,
                enumerable: true,
                value: 1,
                writable: true
              }
        </pre>

       
        <pre id="pre9a">
            
            details about all the properties on an object
           
            Object.getOwnPropertyDescriptors()

            Returns an object containing all own property descriptors for an object.

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              console.log(Object.getOwnPropertyDescriptors(obj))
              
              Output
              Object {
                a: Object {
                  configurable: true,
                  enumerable: true,
                  value: 1,
                  writable: true
                },
                b: Object {
                  configurable: true,
                  enumerable: true,
                  value: 2,
                  writable: true
                },
                c: Object {
                  configurable: true,
                  enumerable: true,
                  value: 3,
                  writable: true
                },
              }
        </pre>
    </div>
    <div> <!-- get information about properties, find out if the object is in the prototype chain. -->
        <p onclick="toggle6a()">get information about properties, find out if the object is in the prototype chain.</p>
        
        <pre id="pre9b">

            if a property can be traversed with a for ...in loop
        
            Object.propertyIsEnumerable()
        
            Returns a boolean indicating if the internal
            ECMAScript [[Enumerable]] attribute is set. 
            This can be used to see if something is a built-in or user-defined
            method because built-in properties tend to not be enumerable
        
            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              console.log(obj.propertyIsEnumerable('a'));
              console.log(Math.propertyIsEnumerable('random'));
              
              Output
              true
              false
        </pre>
        <pre id="pre9c">
        
            if a property exists as a direct property of the object
            
            Object.hasOwnProperty()
        
            Returns a boolean indicating whether an object contains 
            the specified property as a direct property of 
            that object and not inherited through the prototype chain.
        
            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              console.log(obj.hasOwnProperty('a'));
              delete obj.a;
              console.log(obj.hasOwnProperty('a'));
              
              Output
              true
              false
        </pre>
          
           
       
    </div> 
    <div> <!-- get information about properties, a list of all of the keys and/or values. -->
        <p onclick="toggle7()">get information about properties, a list of all of the keys and/or values.</p>
        <pre id="pre10">

            I need to get an array of all of the KEYS
 
            Object.keys()

            Returns an array containing the names of all of the object's keys
            that can be looped through, in the order that they would be looped through.

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              console.log(Object.keys(obj));
              
              Output
              ["a", "b", "c"]
        </pre>
        <pre id="pre10a">

            a list of all of the keys and/or values, I need to get an array of all of the VALUES

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              console.log(Object.values(obj));
              
              Output
              [1, 2, 3]
        </pre>
        <pre id="pre10b">

            list of all of the keys and/or values, I need to get an array of all of the KEYS AND VALUES

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              console.log(Object.entries(obj));
              
              Output
              [["a", 1], ["b", 2], ["c", 3]]
        </pre>
        <pre id="pre10c">

            a list of all of the keys and/or values,
            I need to get an array of all of the KEYS, even if you cant loop through them            

            Object.getOwnPropertyNames()

            Returns an array containing the names of all of the given
            object's own enumerable and non-enumerable properties.
            Does the same thing as Object.keys(), retrieving the keys in the object, 
            but getOwnPropertyNames() will include properties that can't be looped through.

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              Object.defineProperty(obj, 'a', {
                enumerable: false
              });
              
              console.log(Object.keys(obj));
              console.log(Object.getOwnPropertyNames(obj));
              
              Output
              ["b", "c"]
              ["a", "b", "c"]
        </pre>
    </div> 
    
    <br>

    <div> <!-- restrict changes to an object, make sure properties cant be added or deleted -->
        <p onclick="toggle8()">restrict changes to an object, make sure properties cant be added or deleted</p>
        <pre id="pre11">
 
            Object.seal()

            Prevents other code from deleting properties of an object. 
            Existing properties can still be modified.

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              Object.seal(obj);
              delete obj.c;
              
              console.log(obj);
              
              Output
              {a: 1, b: 2, c: 3} // obj.c doesn't get deleted
        </pre>
        <pre id="pre11a">
 
            restrict changes to an object, make sure properties cant be added, deleted, or modified.

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              Object.freeze(obj);
              obj.a = 10;
              
              console.log(obj.a);
              
              Output
              1 //the value didn't update to 10
        </pre>
        <pre id="pre11b">

            restrict changes to an object, make sure properties cant be added.

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              Object.preventExtensions(obj);
              obj.d = 4;
              
              console.log(obj.d);
              
              Output
              undefined
        </pre>
    </div>  

    <br>

    <div> <!-- create a string from an object, return a string representation of the object -->
        <p onclick="toggle9()">create a string from an object, return a string representation of the object</p>
        <pre id="pre12">
 
            Object.toString()

            The toString() method returns a string representing the object.
            Though this is the built-in method available, 
            it's usually more useful to use JSON.stringify()

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              console.log(obj.toString());
              console.log(obj.a.toString());
              
              Output
              "[object Object]"
              "1"
        </pre>
        <pre id="pre12a">

            create a string from an object, return a localized string representation of the object

            Object.toLocaleString()

            The toLocaleString() method returns a string representing the object.
            This method is meant to be overridden by derived objects for locale-specific purposes.
            In human terms: this means if you have something that has different data based on location, 
            such as date methods, it will give you a different time format

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              obj.d = new Date();
              
              console.log(obj.d);
              console.log(obj.d.toLocaleString());
              
              Output
              Fri Dec 29 2017 20:57:35 GMT-0700 (MST)
              12/29/2017, 8:57:35 PM
        </pre>
    </div> 

    <br>

    <div> <!-- manage prototypes, GET a prototype of the object -->
        <p onclick="toggle11()">manage prototypes, GET a prototype of the object </p>

        <pre id="pre14">

            manage prototypes, GET a prototype of the object

            Object.getPrototypeOf()

            Returns the prototype of the specified object. 
            (i.e. the value of the internal [[Prototype]] property) of the specified object).

            let obj = {
                a: 1,
                b: 2,
                c: 3
              };
              
              const proto = Object.create(obj);
              console.log(Object.getPrototypeOf(proto) === obj);
              
              Output
              true
        </pre>
        <pre id="pre14a">

            manage prototypes, SET a prototype of the object

            Returns the LAST (greatest) index of an element within the array 
            equal to the specified value, or -1 if none is found.
 
            let arr = [5, 1, 8, 5];
            console.log(arr.lastIndexOf(5))                     

            Output
            3
        </pre>
        <pre id="pre14b">

            find out if the object is in the prototype chain.

            Object.isPrototypeOf()

            Returns a boolean indicating whether the object this method 
            is called upon is in the prototype chain of the specified object.

            function Rect() {}

            let rect = new Rect();

            console.log(Rect.prototype.isPrototypeOf(rect));

            Output
            true
        </pre>
    </div>   

    <br>

</body>
</html>








